<div class="col-sm-3" style="float: left;" *ngIf="nav">
  <ng-container *ngFor="let item of items">
    <div [ngSwitch]="goup()" (click)="bor(item)">
      <a class="nav-link active" *ngSwitchCase="item" [ngStyle]="{'border':bort,'background':bg}">
        <ng-container *ngIf="navb">
          {{item}}号导航栏
        </ng-container>
      </a>
      <a class="nav-link active" *ngSwitchDefault>
        {{item}}号导航栏
      </a>
    </div>
  </ng-container>
</div>
<div style="float: left;">
  <div class="d-flex justify-content-center">
    <input type="button" value="显示消失" (click)="navShow()">
    <div class="form-check" *ngFor="let list of lists">
      <input class="form-check-input" type="checkbox" (click)="listShow(list)">
      <label class="form-check-label" for="flexCheckDefault">
        {{list}}隐藏
      </label>
    </div>
  </div>
</div>